body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  margin: auto;
  width: 300px;
  border-radius: 10px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
